Better NTP client behavior

Per RFC5905, the NTP server can respond to clients with invalid packets that include a code to tell the client to modify its behavior. For example, the server can tell the client to slow down its polling rate or cease contacting the server entirely. Currently, the NTP client code in OpenPerf ignores these instructions, but we really shouldn't.

See [Section 7.4 in RFC5905](https://datatracker.ietf.org/doc/html/rfc5905#section-7.4).